dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*
chessGPT
chessGPT.exe
projectDesc.yaml
#We should add these two back in if we ever do any timing tests
timingParams-default.json
timingParams.json
*.orig
*.swp